.input-group {
    display: -webkit-inline-flex !important;
}

.list-input-group-button {
    border-top-left-radius: 0% !important;
    border-bottom-left-radius: 0% !important;
}

.add-edit-delete-input-group-button {
    border-bottom-right-radius: 0px !important;
    border-top-right-radius: 0px !important;
    margin-top: 2px !important;
    margin-bottom: 2px !important;
}

.delete-input-group-button-right {
    border-bottom-left-radius: 0px !important;
    border-top-left-radius: 0px !important;
}

.add-edit-only-one-input-group-input {
    border-bottom-left-radius: 0px !important;
    border-top-left-radius: 0px !important;
    border-bottom-right-radius: 4px !important;
    border-top-right-radius: 4px !important;
    margin-top: 2px !important;
    margin-bottom: 2px !important;
    margin-right: 50px !important;
}

.add-edit-first-input-group-input {
    border-radius: 0px !important;
    margin-top: 2px !important;
    margin-bottom: 2px !important;
}

.add-edit-second-input-group-input {
    border-bottom-left-radius: 0px !important;
    border-top-left-radius: 0px !important;
    margin-top: 2px !important;
    margin-bottom: 2px !important;
}

.add-edit-down-input-group-input {
    border-radius: 0px !important;
    margin-top: 2px !important;
    margin-bottom: 2px !important;
    max-width: 10% !important;
}

.add-edit-up-input-group-input {
    border-radius: 0px !important;
    margin-top: 2px !important;
    margin-bottom: 2px !important;
    max-width: 10% !important;
}

input.add-edit-delimiter-phone-input-group-button {
    border-radius: 0px !important;
    margin-top: 2px !important;
    margin-bottom: 2px !important;
    text-align: center !important;
    max-width: 5% !important;
    background-color: rgb(110, 110, 110) !important;
}

input.add-edit-delimiter-mbps-input-group-button {
    border-radius: 0px !important;
    margin-top: 2px !important;
    margin-bottom: 2px !important;
    text-align: center !important;
    max-width: 8% !important;
    color: #d3d3d3 !important;
    background-color: rgb(110, 110, 110) !important;
}

input.add-edit-delimiter-input-group-button {
    border-radius: 0px !important;
    margin-top: 2px !important;
    margin-bottom: 2px !important;
    text-align: center !important;
    max-width: 1% !important;
    background-color: rgb(110, 110, 110) !important;
}

.input-group-textarea {
    border-bottom-left-radius: 0px !important;
    border-top-left-radius: 0px !important;
}